SDKROOT = /Developer/SDKs/MacOSX10.4u.sdk
OBJROOT = $(SYMROOT)/Intermediates
SHARED_PRECOMPS_DIR = $(SYMROOT)/Intermediates/Precompiled
CONFIGURATION_BUILD_DIR = $(BUILD_DIR)/$(CONFIGURATION)
CONFIGURATION_TEMP_DIR = $(PROJECT_TEMP_DIR)/$(CONFIGURATION)

HEADER_SEARCH_PATHS = /Developer/Headers/FlatCarbon
ALWAYS_SEARCH_USER_PATHS = NO
USER_HEADER_SEARCH_PATHS = "/Developer/xdk11_mac/Include/MACMach" "/Developer/xdk11_mac/Include" $(inherited);

ARCHS = i386 ppc
GCC_OPTIMIZATION_LEVEL = s
GCC_WARN_UNUSED_VARIABLE = NO
GCC_GENERATE_DEBUGGING_SYMBOLS = NO
GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_INCREASE_PRECOMPILED_HEADER_SHARING = YES
PRECOMPS_INCLUDE_HEADERS_FROM_BUILT_PRODUCTS_DIR = NO
GCC_WARN_ABOUT_RETURN_TYPE = YES
GCC_MODEL_TUNING = G5
GCC_ENABLE_CPP_RTTI = YES
GCC_ENABLE_CPP_EXCEPTIONS = YES
GCC_ENABLE_FIX_AND_CONTINUE = NO
GCC_WARN_ABOUT_DEPRECATED_FUNCTIONS = NO
GCC_ENABLE_FIX_AND_CONTINUE = NO
GCC_INLINES_ARE_PRIVATE_EXTERN = YES
GCC_PREFIX_HEADER = /Developer/xdk11_mac/Include/MACMach/prefix.pch

GENERATE_PKGINFO_FILE = YES
WRAPPER_EXTENSION = xtra
INFOPLIST_FILE = Info.plist
PREBINDING = NO
STRIP_STYLE = non-global
DEBUG_INFORMATION_FORMAT = dwarf
ZERO_LINK = NO
INFOPLIST_PREPROCESS = YES

INFOPLIST_PREPROCESSOR_DEFINITIONS = VerString="10.1.4" CopyrightString="Director XDK Example 10.1.4" Exec="Script"
GCC_PREPROCESSOR_DEFINITIONS_NOT_USED_IN_PRECOMPS = _MACINTOSH
PRODUCT_NAME = Script
